*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    font-style: normal;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    padding: 32px 0 42px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    display: flex;
}
.logo_text{
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #005FA3;
    margin-left: 30px;
}
.menu_bar{
    display: none;
}
.menu_item{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    margin-left: 68px;
    cursor: pointer;
}
.menu_item:first-child{
    margin-left: 0;
}
.header_presentation_info{
    display: flex;
    flex-direction: column;
    padding-top: 170px;
}
.header_presentation{
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    position: relative;
}
.section_block_title{
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 102px;
}
.header_presentation_title{
    font-weight: 700;
    max-width: 589px;
    color: #FFFFFF;
    margin: 0;
}
.header_presentation_link{
    margin-top: 80px;
    background: #005FA3;
    padding: 19px 18px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    max-width: 270px;
    color: #FFFFFF;
}
.slider_ellipse{
    display: flex;
    width: 140px;
    justify-content: space-between;
    position: absolute;
    bottom: 113px;
    left: 405px;
}
.pagination{
    cursor: pointer;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.4;
    width: 12px;
    height: 12px;
    display: block;
}
.clients_page, .reviews_page{
    background-color: #005FA3;
}

.active, .pagination:focus{
    opacity: 1;
}
.slider_buttons{
    position: absolute;
    bottom: 113px;
    right: 405px;
    display: flex;
    align-items: center;
   /* opacity: 0.5;*/
}
.slider_button_prev, .slider_button_next{ 
    background-color: grey;
    border: 1px solid grey;
    width: 60px;
    height: 60px;
    opacity: 0.4;
    cursor: pointer;
}
.slider_button_prev{
    background-image: url(../images/slider_button-prev.png);
}
.slider_button_prev:hover, .slider_button_next:hover{
    opacity: 0.6;
}
.slider_button_next{
    background-image: url(../images/slider_button-prev.png);
    transform: rotate(-180deg);
}

.our_services{
    padding-top: 140px;
    background: #EBEBEB;
    padding-bottom: 140px;
}
.our_services_text{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
}

.title_margin{
    margin-bottom: 0;
}
.our_services_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.our_services_block_item{
    background-image: url(../images/our_services-item-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 360px;
    margin-bottom: 30px;
}
.our_services_block_item:hover{
    opacity: 65%;;
    
}
.our_services_block_item_text{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 261px 0 0 45px;
}
.about_us{
    padding-top: 140px;
    padding-bottom: 140px;
}
.about_us_wrapper{
    display: flex;
    justify-content: space-between;
}
.about_us_info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.section_text{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-bottom: 40px;
}

.name{
    color: #005FA3;
    margin-top: 0;
    margin-bottom: 0;
}
.about_us_info_desc{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 60px;
}
.about_us_statistic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.about_us_statistic_item{
    padding-top: 30px;
    padding-left: 40px;
    background-color: #EBEBEB;
    width: 255px;
    height: 255px;
}
.about_us_statistic_item:hover p{
    color: white;
}
.about_us_statistic_item:hover h2{
    color: white;
}
.about_us_statistic_item:hover a{
    color: white;
}
.about_us_statistic_item:hover{ 
    background-color: #005FA3;
}
.about_us_statistic_item_value{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}
.about_us_statistic_item_text{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 47px;
}
.about_us_statistic_item_link{
    text-decoration: underline;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #005FA3;
}
.our_clients{
    background-color: #EBEBEB;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
/*.buttons_color{
    background-color: #005FA3
}*/
.our_client_margin{
    margin-bottom: 80px;
}
.our_clients_link{
    width: 100%;
}
.our_clients_link{
    margin-bottom: 100px;
    text-align: center;
}
.client_name_padding{
    margin-bottom: 0;
}
.reviews{
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;

}
.reviews_slider{
    background-color: #EBEBEB;
    padding: 45px 95px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 100px;
}
.reviews_author_name{
    font-weight: 900;
}
.review_author_position{
    font-size: 14px;
    color: #4F4F4F;
}
.reviews_author_info{
    display: flex;
    margin-top: 58px;
    justify-content: start;
    align-items: center;
}
.reviews_author_text{
    display: flex;
    flex-direction: column;
}
.reviews_author_img{
    margin-right: 35px;
}
.reviews-button, .clients{
    background-color: #005FA3;
}
.feedback{
    background: linear-gradient(0deg, 
    rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url(saintp.jpg), #C4C4C4; 
    padding-top: 122px;
    padding-bottom: 140px;
    color: white;
}
.feedback_wrapper{
    display: flex;
}
.feedback_contacts{
    width: 50%;
}
.feedback_title{
    color: white;
    margin-top: 0;
}
.feedback_contacts_text{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 80px;
    max-width: 445px;
}
.feedback_contacts_block{
    display: flex;
    align-items: center;
}
.feedback_contacts_phone, .feedback_contacts_email{
    display: flex;
    align-items: center;
}
.feedback_contacts_phone{
    margin-right: 40px;
}
.feedback_phone_img{
    height: 30px;
}
.feedback_contacts_link{
    color: white;
    margin-left: 15px;
}
.feedback_form{
    width: 50%;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.feedback_form_names{
    display: flex;
    justify-content: space-between;
}
.input_label, .message{
    width: 255px;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
}
.feedback_input{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 255px;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}
.message{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.message_input{
    width: 100%;
    resize: none;
}
.feedback_form_button{
    margin-top: 50px;
    padding: 19px 18px;
    background-color: #005FA3;
    color: white;
    border: none;
    align-self: flex-end;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

@media (max-width: 760px) {
    .container{
        width: 600px;
    }    
    .header_wrapper{
        padding: 20px 0 30px;
    }
    .menu_bar{
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
    }
    .menu{
        display: none;
        flex-direction: column;
        align-items: end;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 5;
    }
    .menu_item{
        color: white;
        border-bottom: 1px solid white;
        margin-top: 10px;
        padding-top: 10px;
    }
    .menu_bar:hover ~.menu{
        display: flex;
    }
    .menu_bar p{
        font-size: 70px;
    }
    .menu:hover{
        display: flex;
    }
    .header_presentation_info{
        padding-top: 180px;
    }
    .section_block_title{
        text-align: center;
    }
    .header_presentation_link{
        margin-top: 70px;
    }
    .slider_ellipse{
        left: 85px;
    }
    .slider_buttons{
        right: 120px;
    }
    .our_services_block_item{
        width: 100%;
    }
    .about_us_wrapper{
        flex-direction: column;
    }
    .about_us_info{
        width: 100%;
    }
    .about_us_statistic{
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
    .about_us_statistic_item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 71px;
    }
    .about_us_statistic_item_text, 
    .about_us_statistic_item_value,
    .about_us_statistic_item_link{
        margin: 0;
    }
    .buttons_color{
        right: 80px;
    }
    .feedback{
        padding-top: 30px;
    }
    .feedback_contacts{
        width: 100%;
    }
    .feedback_contacts_block{
        justify-content: space-between;
    }
    .feedback_contacts_phone, .feedback_contacts_email{
        width: 50%;
    }
    .feedback_wrapper{
        flex-direction: column;
    }
    .section_block_title{
        margin-bottom: 0;
    }
    .feedback_contacts_text{
        margin-top: 44px;
        max-width: 100%;
    }
    .feedback_form{
        margin-top: 160px;
        width: 100%;
    }
}